<html>
<head>
{{template "/public/head.html"}}
</head>
<body>
{{template "/public/nav-slide.html"}}

<div class="modal-page pushable dimmable scrolling">
    <div class="ui container" style="margin: 80px 0;">
        <div class="ui breadcrumb">
            <a class="section" href="/">首页</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">文件管理</div>
            <i class="right arrow icon divider"></i>
            <div class="active section">ocean云</div>
        </div>

        <h3 class="ui block header">ocean云</h3>

        <div class="ui info message">
            <div class="header">ocean(文件管理系统网页版)</div>
            <ul class="list">
                <li>授权协议:GPLV2</li>
                <li>代码仓库:https://github.com/zhangjunfang/wfs</li>
            </ul>
        </div>

        <div><iframe width="100%" height="60%" src="http://60.205.191.163/work" frameborder="0"></iframe></div>
    </div>
    
</div>
</body>
{{template "/public/nav-slide-js.html"}}
<script src="/static/Semantic-UI/semantic.min.js"></script>
</html>