    <div class="ui fixed inverted main menu">
        <div class="ui container">
            <a class="launch icon item" onclick="sidebar()">
            <i class="content icon"></i>
            </a>
            
            <div class="item"><a href="/">云维兔 <i class="ui green version label">v0.0.1(Alpha-1)</i></a></div>
            
            <div class="right menu">
            
            </div>
        </div>
    </div>

    <div class="ui sidebar inverted vertical menu">
        <!--<div class="item"><div class="header"></div></div>-->
        <div class="item">
            <div class="header">硬件设备</div>
            <div class="menu">
                <a href="/device/cpu" class="item">处理器</a>
                <a href="/device/rom" class="item">磁盘</a>
                <a href="/device/ram" class="item">内存</a>
            </div>
        </div> 
        <div class="item">
            <div class="header">安全中心</div>
            <div class="menu">
                <a href="/safe/firewall" class="item">防火墙</a>
                <a href="/safe/usergroup" class="item">用户管理</a>
                <a href="/safe/stopping" class="item">防DDos手段</a>
            </div>
        </div>
        <div class="item">
            <div class="header">脚本仓库</div>
            <div class="menu">
                <a href="/shellbox/public" class="item">公有仓库</a>
                <a href="/shellbox/private" class="item">私有仓库</a>
                <a href="/shellbox/questions" class="item">问题求助</a>
            </div>
        </div>
        <div class="item">
            <div class="header">应急处理</div>
            <div class="menu">
                <a href="/resuce/webconsole" class="item">命令行模式</a>
                <a href="/resuce/reboot" class="item">重启服务器</a>
            </div>
        </div>
        <div class="item">
            <a href="/file/filesystem" class="header">文件管理</a>
        </div>
        <div class="item">
            <a href="javascript:disconnect()" class="header">断开连接</a>
        </div>   
    </div>